.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas: ". a a ." ". a a .";
}

.App-countdown {
  align-self: center;
  font-size: large;
  grid-area: a;
  justify-self: center;
}


.App-footer {
  font-size: 12px;
}